

.cl {
    background-color: antiquewhite;
}
--use: 20px;
--doNotUse: 0;
--fsAncillary: var(--doNotUse);
font: 14px/1.25 "Helvetica Neue",helvetica,arial,sans-serif;
-webkit-text-size-adjust: none;
font-size: .785714286em;
font-family: Verdana,sans-serif;
border-collapse: separate;
border-spacing: 0;
border: 0;
border-style: solid;
border-color: #ddd;
border-width: 1px;
min-width: 24px;
background-color: #eee;
white-space: nowrap;
font-weight: bold;
background-clip: padding-box;
text-align: center;
border-top-width: 0;
border-right-width: 0;
padding: 4px 3px;
vertical-align: middle;
cursor: pointer;
color: #900;
border-bottom-color: #747678;
border-bottom-style: solid;

--use: 20px;
--doNotUse: 0;
--fsAncillary: var(--doNotUse);
font: 14px/1.25 "Helvetica Neue",helvetica,arial,sans-serif;
-webkit-text-size-adjust: none;
font-size: .785714286em;
font-family: Verdana,sans-serif;
border-collapse: separate;
border-spacing: 0;
border: 0;
border-style: solid;
border-color: #ddd;
border-width: 1px;
min-width: 24px;
background-color: #eee;
white-space: nowrap;
font-weight: bold;
background-clip: padding-box;
text-align: center;
border-top-width: 0;
border-right-width: 0;
padding: 4px 3px;
vertical-align: middle;
cursor: pointer;
color: #900;
border-bottom-color: #747678;
border-bottom-style: solid;